

.bg-link{
    text-align:center;
    background-color:#ff9066;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;


}
.text-link{


    line-height: 300px;
    color: white;

}


